.version.index /* version checker */
{
	color: #0000FE;
	background-color: #CCA952;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-image: none;
	border-color: #000000;
	margin-left: auto;
	min-height: 997px;
	margin-right: auto;
	background-color: transparent;
	z-index: 1;
	border-width: 0px;
}

#page_position_content
{
	margin-bottom: -36px;
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#u615_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u619
{
	width: 143px;
	margin-right: -10000px;
	position: relative;
	z-index: 58;
	margin-top: 16px;
}

#pu616
{
	width: 0.01px;
	margin-right: -10000px;
}

#u616
{
	left: 59px;
	height: 75px;
	margin-right: -10000px;
	position: relative;
	z-index: 55;
	width: 94px;
}

#u617
{
	left: 153px;
	height: 75px;
	margin-right: -10000px;
	position: relative;
	z-index: 56;
	width: 94px;
}

#u618
{
	left: 247px;
	height: 75px;
	margin-right: -10000px;
	position: relative;
	z-index: 57;
	width: 94px;
}

.ie #u616,.ie #u617,.ie #u618
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
}

#menuu621
{
	z-index: 60;
	width: 470px;
	margin-right: -10000px;
	position: relative;
}

#u643
{
	margin-right: -10000px;
	width: 92px;
	min-height: 75px;
	position: relative;
}

#u622
{
	margin-right: -10000px;
	left: 94px;
	width: 92px;
	min-height: 75px;
	position: relative;
}

#u629
{
	margin-right: -10000px;
	left: 188px;
	width: 92px;
	min-height: 75px;
	position: relative;
}

#u644,#u625,#u630
{
	width: 92px;
	padding-bottom: 58px;
	position: relative;
}

#u644:hover,#u644.MuseMenuActive,#u625:hover,#u625.MuseMenuActive,#u630:hover,#u630.MuseMenuActive
{
	min-height: 0px;
	width: 92px;
	margin: 0px;
}

#u646-4,#u627-4,#u633-4
{
	margin-right: -10000px;
	top: 29px;
	width: 92px;
	min-height: 17px;
	position: relative;
}

#u644:hover #u646-4,#u644.MuseMenuActive #u646-4,#u625:hover #u627-4,#u625.MuseMenuActive #u627-4,#u630:hover #u633-4,#u630.MuseMenuActive #u633-4
{
	min-height: 17px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u636
{
	margin-right: -10000px;
	left: 282px;
	width: 93px;
	min-height: 75px;
	position: relative;
}

#u650
{
	margin-right: -10000px;
	left: 377px;
	width: 93px;
	min-height: 75px;
	position: relative;
}

#u639,#u651
{
	width: 93px;
	padding-bottom: 58px;
	position: relative;
}

#u639:hover,#u639.MuseMenuActive,#u651:hover,#u651.MuseMenuActive
{
	min-height: 0px;
	width: 93px;
	margin: 0px;
}

#u642-4,#u652-4
{
	margin-right: -10000px;
	top: 29px;
	width: 93px;
	min-height: 17px;
	position: relative;
}

#u639:hover #u642-4,#u639.MuseMenuActive #u642-4,#u651:hover #u652-4,#u651.MuseMenuActive #u652-4
{
	min-height: 17px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u615,#u615-bw
{
	min-height: 75px;
	z-index: 54;
}

#u274
{
	position: relative;
	z-index: 92;
	margin-right: -10000px;
	background-color: #E3D46D;
}

#u400
{
	width: 300px;
	padding-bottom: 45.350000000000136px;
	z-index: 93;
	position: relative;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.05);
	padding-top: 35px;
	-pie-box-shadow: none;
	margin-right: -10000px;
	background: transparent url("../images/padraograf.png") no-repeat center center;
	background-size: cover;
}

#u101
{
	position: relative;
	z-index: 94;
	width: 300px;
	background-color: transparent;
}

#u338-4
{
	font-weight: 300;
	line-height: 18px;
	min-height: 242px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	margin-top: 19px;
	z-index: 126;
	width: 300px;
	font-size: 15px;
	position: relative;
}

#slideshowu292
{
	height: 390px;
	margin-right: -10000px;
	position: relative;
	z-index: 96;
	width: 0.01px;
}

#u293
{
	background-color: transparent;
	height: 390px;
	position: absolute;
}

#u293popup
{
	z-index: 97;
}

#u298
{
	z-index: 98;
	height: 390px;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u1585
{
	z-index: 100;
	height: 390px;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u1612
{
	z-index: 102;
	height: 390px;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u1639
{
	z-index: 104;
	height: 390px;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u1666
{
	z-index: 106;
	height: 390px;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u554
{
	z-index: 108;
	height: 390px;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u581
{
	z-index: 110;
	height: 390px;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u590
{
	z-index: 112;
	height: 390px;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u301-4
{
	color: #FFFFFF;
	font-weight: 700;
	border-radius: 23px;
	top: 172px;
	background-color: #E3D46D;
	left: 78px;
	border-color: transparent;
	filter: alpha(opacity=81);
	opacity: 0.81;
	position: absolute;
	border-width: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	line-height: 24px;
	min-height: 24px;
	font-family: ubuntu-mono, sans-serif;
	text-align: center;
	width: 24px;
	font-size: 17px;
	padding: 10px;
}

#u301-4popup
{
	z-index: 114;
}

#u302-4
{
	color: #FFFFFF;
	font-weight: 700;
	border-radius: 23px;
	background-color: #E3D46D;
	border-color: transparent;
	filter: alpha(opacity=81);
	opacity: 0.81;
	position: absolute;
	border-width: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	line-height: 24px;
	min-height: 24px;
	font-family: ubuntu-mono, sans-serif;
	text-align: center;
	width: 23px;
	font-size: 17px;
	padding: 10px;
}

#u302-4popup
{
	z-index: 118;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu274,#pu333
{
	width: 0.01px;
}

#u333
{
	background-color: #EEEEEE;
	z-index: 122;
	margin-right: -10000px;
	position: relative;
}

#u372-4
{
	color: #333333;
	font-weight: 500;
	font-style: italic;
	background-color: transparent;
	z-index: 159;
	position: relative;
	line-height: 43px;
	font-family: ubuntu, sans-serif;
	font-size: 36px;
}

#u342
{
	border-radius: 102px;
	background-color: #E3D46D;
	z-index: 148;
	margin-top: 14px;
	position: relative;
}

#u356
{
	margin-right: -10000px;
	position: relative;
	z-index: 155;
	background-color: transparent;
}

#u378-6
{
	font-weight: 300;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	z-index: 130;
	font-size: 14px;
	position: relative;
}

#u378-4
{
	letter-spacing: 0px;
}

#u4262
{
	background-color: #E3D46D;
	z-index: 123;
	margin-right: -10000px;
	position: relative;
}

#u374-4
{
	color: #333333;
	font-weight: 500;
	font-style: italic;
	background-color: transparent;
	z-index: 163;
	position: relative;
	line-height: 43px;
	min-height: 46px;
	font-family: ubuntu, sans-serif;
	font-size: 36px;
}

#u4286
{
	border-radius: 102px;
	position: relative;
	z-index: 150;
	background-color: #EEEEEE;
}

#u361
{
	margin-right: -10000px;
	position: relative;
	z-index: 157;
	background-color: transparent;
}

#u380-6
{
	font-weight: 300;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	z-index: 136;
	font-size: 15px;
	position: relative;
}

#u4274
{
	margin-right: -10000px;
	background-color: #EEEEEE;
	z-index: 124;
	position: relative;
}

#u333:hover,#u4262:hover,#u4274:hover
{
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u376-4
{
	color: #333333;
	font-weight: 500;
	font-style: italic;
	background-color: transparent;
	z-index: 167;
	position: relative;
	line-height: 43px;
	min-height: 46px;
	font-family: ubuntu, sans-serif;
	font-size: 36px;
}

#u4298
{
	border-radius: 102px;
	position: relative;
	z-index: 149;
	background-color: #E3D46D;
}

#u350
{
	margin-right: -10000px;
	position: relative;
	z-index: 153;
	background-color: transparent;
}

#u386-6
{
	font-weight: 300;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	z-index: 142;
	font-size: 15px;
	position: relative;
}

#u335
{
	margin-right: -10000px;
	background-color: #E3D46D;
	z-index: 91;
	position: relative;
}

#u369
{
	border-radius: 102px;
	background-color: #EEEEEE;
	z-index: 151;
	width: 129px;
	position: relative;
}

#u337
{
	margin-right: -10000px;
	background-color: #EEEEEE;
	z-index: 125;
	position: relative;
}

#u337:hover
{
	margin-left: 0px;
	min-height: 0px;
	margin-right: -10000px;
	margin-bottom: 0px;
}

#u371
{
	border-radius: 102px;
	background-color: #E3D46D;
	z-index: 152;
	width: 129px;
	position: relative;
}

#u503
{
	z-index: 2;
	min-height: 183.55000000000018px;
	padding-bottom: 0px;
}

#u503_align_to_page
{
	margin-left: auto;
	padding-top: 10px;
	position: relative;
	padding-bottom: 13px;
	margin-right: auto;
}

#u506-4
{
	margin-right: -10000px;
	z-index: 5;
	min-height: 18px;
	width: 83px;
	position: relative;
}

#u507-4
{
	left: 268px;
	min-height: 18px;
	margin-right: -10000px;
	position: relative;
	z-index: 9;
	width: 171px;
}

#u508-4
{
	min-height: 18px;
	margin-right: -10000px;
	position: relative;
	z-index: 13;
	width: 171px;
}

#u509
{
	z-index: 17;
	height: 1px;
	width: 171px;
	position: relative;
}

#u510
{
	height: 1px;
	position: relative;
	margin-bottom: -1px;
	z-index: 18;
	top: -1px;
	width: 171px;
}

#u511
{
	height: 1px;
	position: relative;
	margin-bottom: -1px;
	z-index: 19;
	top: -1px;
	width: 171px;
}

#ppu512-4
{
	margin-top: 4px;
	width: 0.01px;
	position: relative;
}

#pu512-4
{
	margin-top: 8px;
	width: 0.01px;
	margin-right: -10000px;
}

#u512-4
{
	z-index: 20;
	min-height: 20px;
	width: 173px;
	position: relative;
}

#u513-4
{
	z-index: 24;
	min-height: 20px;
	width: 173px;
	position: relative;
}

#u514-4
{
	z-index: 28;
	min-height: 20px;
	width: 173px;
	position: relative;
}

#u512-4:hover,#u513-4:hover,#u514-4:hover
{
	min-height: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 173px;
	margin: 0px;
}

#u517
{
	left: 266px;
	height: 30px;
	margin-right: -10000px;
	position: relative;
	z-index: 40;
	width: 29px;
}

#u519
{
	left: 297px;
	height: 30px;
	margin-right: -10000px;
	position: relative;
	z-index: 42;
	width: 29px;
}

#u518
{
	left: 328px;
	height: 30px;
	margin-right: -10000px;
	position: relative;
	z-index: 41;
	width: 29px;
}

#u517:hover,#u519:hover,#u519:active,#u518:hover
{
	min-height: 0px;
	height: 30px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u520-11
{
	min-height: 62px;
	margin-right: -10000px;
	position: relative;
	z-index: 43;
	margin-top: 3px;
	width: 188px;
}

#u515-4
{
	min-height: 20px;
	position: relative;
	margin-bottom: -1px;
	z-index: 32;
	top: -1px;
	width: 173px;
}

#u515-4:hover
{
	min-height: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 173px;
	margin: 0px 0px -1px;
}

#pu506-4,#pu516-4
{
	width: 0.01px;
	position: relative;
}

#u516-4
{
	margin-right: -10000px;
	z-index: 36;
	min-height: 20px;
	width: 173px;
	position: relative;
}

#u516-4:hover
{
	min-height: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u504
{
	z-index: 3;
	width: 532px;
	margin-right: -10000px;
	position: relative;
}

#u503-bw
{
	min-height: 183.55000000000018px;
	z-index: 2;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	padding-top: 35px;
	position: relative;
}

@media (min-width: 1171px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1170px;
	}

	#u619
	{
		left: 155px;
	}

	#pu616
	{
		margin-left: 457px;
	}

	#u400
	{
		padding-left: 78px;
		padding-right: 79px;
	}

	#slideshowu292
	{
		left: 457px;
	}

	#u1639_img
	{
		padding-right: 8px;
	}

	#u1666_img
	{
		padding-right: 12px;
		padding-bottom: 76px;
	}

	#u293,#u298,#u1585,#u1612,#u1639,#u1666,#u554,#u581,#u590
	{
		width: 913px;
	}

	#u302-4
	{
		top: 175px;
		left: 813px;
	}

	#pu274,#pu333
	{
		margin-left: -100px;
	}

	#u274,#u333
	{
		width: 457px;
	}

	#u333:hover,#u4262
	{
		width: 457px;
	}

	#u4262:hover
	{
		width: 457px;
	}

	#u4274
	{
		width: 398px;
		padding: 26px 24px 54px 35px;
	}

	#u4274:hover
	{
		width: 398px;
	}

	#u372-4
	{
		width: 138px;
		min-height: 46px;
		margin-left: 120px;
	}

	#u342
	{
		width: 129px;
		margin-left: 129px;
	}

	#u4298
	{
		width: 129px;
		margin-right: -10000px;
	}

	#u4286
	{
		width: 129px;
		padding-bottom: 34px;
		margin-right: -10000px;
	}

	#u356
	{
		width: 40px;
		margin-top: 34px;
		left: 44px;
	}

	#u378-6
	{
		width: 398px;
		min-height: 129px;
		margin-top: 22px;
	}

	#u335
	{
		width: 398px;
		left: 457px;
		padding: 26px 29px 57px 28px;
	}

	#u374-4
	{
		width: 242px;
		margin-left: 78px;
	}

	#u369
	{
		padding-bottom: 34px;
		margin-left: 146px;
		margin-top: 14px;
	}

	#u361
	{
		width: 52px;
		margin-top: 34px;
		left: 37px;
	}

	#u337
	{
		width: 398px;
		left: 912px;
		padding: 26px 27px 21px 33px;
	}

	#u337:hover
	{
		margin-top: 0px;
		width: 398px;
	}

	#u376-4
	{
		width: 242px;
		margin-left: 69px;
	}

	#u371
	{
		padding-bottom: 33px;
		margin-left: 135px;
		margin-top: 14px;
	}

	#u350
	{
		width: 60px;
		margin-top: 38px;
		left: 34px;
	}

	#u380-6,#u386-6
	{
		width: 398px;
		min-height: 95px;
		margin-top: 22px;
	}

	#u615_align_to_page,#u503_align_to_page
	{
		width: 1170px;
		left: -100px;
	}

	#u508-4
	{
		left: 1000px;
	}

	#pu506-4,#u509
	{
		left: 83px;
	}

	#u510
	{
		left: 350px;
	}

	#u511
	{
		left: 1082px;
	}

	#u520-11
	{
		left: 999px;
	}

	#ppu512-4,#u515-4,#pu516-4
	{
		left: 84px;
	}

	#u504
	{
		left: 655px;
	}

	body
	{
		min-width: 1170px;
	}
}

@media (max-width: 1170px)
{
	#muse_css_mq
	{
		background-color: #000492;
	}

	#bp_1170.active
	{
		display: block;
	}

	#page
	{
		width: 1024px;
	}

	#u615_align_to_page
	{
		width: 1024px;
		left: -73px;
	}

	#u619
	{
		left: 128px;
	}

	#pu616
	{
		margin-left: 430px;
	}

	#u274
	{
		width: 430px;
	}

	#u400
	{
		padding-left: 65px;
		padding-right: 65px;
	}

	#slideshowu292
	{
		left: 430px;
	}

	#u1585_img
	{
		padding-bottom: 13px;
	}

	#u1612_img
	{
		padding-bottom: 35px;
	}

	#u1639_img
	{
		padding-right: 6px;
	}

	#u1666_img
	{
		margin: -39px -29px -8px -9px;
	}

	#u293,#u298,#u1585,#u1612,#u1639,#u1666,#u554,#u581,#u590
	{
		width: 740px;
	}

	#u302-4
	{
		top: 180px;
		left: 624px;
	}

	#pu274,#pu333
	{
		margin-left: -73px;
	}

	#u333
	{
		width: 349px;
		padding: 12px 16px 116.30964585990347px 25px;
	}

	#u333:hover
	{
		width: 349px;
	}

	#u372-4
	{
		width: 135px;
		min-height: 43px;
		margin-left: 97px;
	}

	#u342
	{
		width: 89px;
		padding-bottom: 23px;
		margin-left: 121px;
	}

	#u356
	{
		width: 28px;
		margin-top: 22px;
		left: 31px;
	}

	#u378-6
	{
		width: 349px;
		min-height: 122px;
		margin-top: 27px;
	}

	#u4262
	{
		width: 335px;
		left: 390px;
		padding: 12px 24px 93px 31px;
	}

	#u4262:hover
	{
		width: 335px;
	}

	#u374-4
	{
		width: 241px;
		margin-left: 41px;
	}

	#u4286
	{
		width: 89px;
		padding-bottom: 19px;
		margin-left: 124px;
		margin-top: 12px;
	}

	#u361
	{
		width: 41px;
		margin-top: 18px;
		left: 24px;
	}

	#u380-6
	{
		width: 335px;
		min-height: 144px;
		margin-top: 27px;
	}

	#u4274
	{
		width: 348px;
		left: 780px;
		padding: 12px 26px 37px 16px;
	}

	#u4274:hover
	{
		width: 348px;
	}

	#u376-4
	{
		width: 241px;
		margin-left: 60px;
	}

	#u4298
	{
		width: 89px;
		padding-bottom: 18px;
		margin-left: 137px;
		margin-top: 12px;
	}

	#u350
	{
		width: 52px;
		margin-top: 17px;
		left: 19px;
	}

	#u386-6
	{
		width: 348px;
		min-height: 201px;
		margin-top: 27px;
	}

	#u335
	{
		width: 454px;
		padding-bottom: 205px;
		margin-top: 46px;
		left: 1678px;
	}

	#u369
	{
		height: 129px;
		margin-right: -10000px;
		margin-top: 86px;
		left: 173px;
	}

	#u337
	{
		width: 457px;
		padding-bottom: 205px;
		margin-top: 46px;
		left: 2132px;
	}

	#u337:hover
	{
		margin-top: 46px;
		width: 457px;
	}

	#u371
	{
		height: 129px;
		margin-right: -10000px;
		margin-top: 86px;
		left: 167px;
	}

	#u503_align_to_page
	{
		width: 1024px;
		left: -73px;
		margin-bottom: -46px;
	}

	#u508-4
	{
		left: 853px;
	}

	#pu506-4,#u509
	{
		left: 56px;
	}

	#u510
	{
		left: 323px;
	}

	#u511
	{
		left: 910px;
	}

	#u520-11
	{
		left: 852px;
	}

	#ppu512-4,#u515-4,#pu516-4
	{
		left: 57px;
	}

	#u504
	{
		left: 508px;
	}

	#u503-bw
	{
		margin-top: -46px;
	}

	body
	{
		min-width: 1024px;
	}
}

