.version.ludoteca /* version checker */
{
	color: #000004;
	background-color: #642B7C;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-image: none;
	border-color: #000000;
	margin-left: auto;
	min-height: 1271px;
	margin-right: auto;
	background-color: transparent;
	z-index: 1;
	width: 1170px;
	border-width: 0px;
}

#page_position_content
{
	margin-bottom: -36px;
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#u615_align_to_page
{
	margin-left: auto;
	width: 1170px;
	margin-right: auto;
	position: relative;
}

#u619
{
	width: 143px;
	margin-right: -10000px;
	position: relative;
	z-index: 58;
	margin-top: 16px;
}

#pu616
{
	width: 0.01px;
	margin-right: -10000px;
}

#u616
{
	left: 59px;
	height: 75px;
	margin-right: -10000px;
	position: relative;
	z-index: 55;
	width: 94px;
}

#u617
{
	left: 153px;
	height: 75px;
	margin-right: -10000px;
	position: relative;
	z-index: 56;
	width: 94px;
}

#u618
{
	left: 247px;
	height: 75px;
	margin-right: -10000px;
	position: relative;
	z-index: 57;
	width: 94px;
}

.ie #u616,.ie #u617,.ie #u618
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
}

#menuu621
{
	z-index: 60;
	width: 470px;
	margin-right: -10000px;
	position: relative;
}

#u643
{
	margin-right: -10000px;
	width: 92px;
	min-height: 75px;
	position: relative;
}

#u622
{
	margin-right: -10000px;
	left: 94px;
	width: 92px;
	min-height: 75px;
	position: relative;
}

#u629
{
	margin-right: -10000px;
	left: 188px;
	width: 92px;
	min-height: 75px;
	position: relative;
}

#u644,#u625,#u630
{
	width: 92px;
	padding-bottom: 58px;
	position: relative;
}

#u644:hover,#u644.MuseMenuActive,#u625:hover,#u625.MuseMenuActive,#u630:hover,#u630.MuseMenuActive
{
	min-height: 0px;
	width: 92px;
	margin: 0px;
}

#u646-4,#u627-4,#u633-4
{
	margin-right: -10000px;
	top: 29px;
	width: 92px;
	min-height: 17px;
	position: relative;
}

#u644:hover #u646-4,#u644.MuseMenuActive #u646-4,#u625:hover #u627-4,#u625.MuseMenuActive #u627-4,#u630:hover #u633-4,#u630.MuseMenuActive #u633-4
{
	min-height: 17px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u636
{
	margin-right: -10000px;
	left: 282px;
	width: 93px;
	min-height: 75px;
	position: relative;
}

#u650
{
	margin-right: -10000px;
	left: 377px;
	width: 93px;
	min-height: 75px;
	position: relative;
}

#u639,#u651
{
	width: 93px;
	padding-bottom: 58px;
	position: relative;
}

#u639:hover,#u639.MuseMenuActive,#u651:hover,#u651.MuseMenuActive
{
	min-height: 0px;
	width: 93px;
	margin: 0px;
}

#u642-4,#u652-4
{
	margin-right: -10000px;
	top: 29px;
	width: 93px;
	min-height: 17px;
	position: relative;
}

#u639:hover #u642-4,#u639.MuseMenuActive #u642-4,#u651:hover #u652-4,#u651.MuseMenuActive #u652-4
{
	min-height: 17px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u615,#u615-bw
{
	min-height: 75px;
	z-index: 54;
}

#pu847
{
	width: 0.01px;
	margin-top: -1px;
}

#u847
{
	height: 261px;
	z-index: 91;
	background: #EEEEEE url("../images/foto2.jpg") no-repeat center center;
	background-size: cover;
}

#u847-bw
{
	z-index: 91;
	height: 261px;
}

#u853
{
	height: 260px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	background-color: #000000;
	z-index: 101;
	filter: alpha(opacity=51);
	opacity: 0.51;
}

#u853-bw
{
	z-index: 101;
	height: 260px;
}

#u854-6
{
	color: #FFFFFF;
	font-weight: 500;
	font-size: 30px;
	background-color: transparent;
	z-index: 102;
	margin-top: 91px;
	position: relative;
	text-align: center;
	min-height: 68px;
	font-family: ubuntu, sans-serif;
	line-height: 36px;
	width: 992px;
	margin-right: -10000px;
}

#pu846
{
	width: 0.01px;
	margin-left: -102px;
}

#u846
{
	margin-right: -10000px;
	background-color: #EEEEEE;
	z-index: 95;
	width: 398px;
	position: relative;
	padding: 17px 29px 73.34999999999991px 30px;
}

#u857
{
	z-index: 109;
	height: 39px;
	margin-right: -10000px;
	width: 39px;
	position: relative;
	background: transparent url("../images/7.png") no-repeat center center;
	background-size: contain;
}

#u873-4
{
	left: 56px;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	background-color: transparent;
	z-index: 157;
	position: relative;
	text-align: center;
	min-height: 39px;
	margin-right: -10000px;
	line-height: 36px;
	width: 286px;
	font-family: ubuntu, sans-serif;
}

#u864-8
{
	font-weight: 300;
	min-height: 95px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	z-index: 116;
	width: 398px;
	margin-top: 24px;
	position: relative;
}

#u864-2,#u864-3
{
	line-height: 18px;
	font-size: 15px;
}

#u864-6
{
	line-height: 24px;
	font-size: 20px;
}

#u843
{
	margin-right: -10000px;
	background-color: #E3D46D;
	left: 457px;
	z-index: 92;
	width: 406px;
	position: relative;
	padding: 17px 29px 110.34999999999991px 20px;
}

#u862
{
	z-index: 115;
	height: 39px;
	margin-right: -10000px;
	width: 39px;
	position: relative;
	background: transparent url("../images/symbols.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u862
{
	background-image: url('../images/symbols_poster_u1527.png');
}

#u876-4
{
	left: 55px;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	background-color: transparent;
	z-index: 169;
	position: relative;
	text-align: center;
	min-height: 39px;
	margin-right: -10000px;
	line-height: 36px;
	width: 314px;
	font-family: ubuntu, sans-serif;
}

#u867-4
{
	font-weight: 300;
	line-height: 18px;
	min-height: 95px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	margin-top: 24px;
	z-index: 132;
	margin-left: 8px;
	width: 398px;
	font-size: 15px;
	position: relative;
}

#u850
{
	margin-right: -10000px;
	background-color: #EEEEEE;
	left: 912px;
	z-index: 98;
	width: 402px;
	position: relative;
	padding: 17px 30px 109.34999999999991px 26px;
}

#u861
{
	z-index: 114;
	height: 39px;
	margin-right: -10000px;
	width: 64px;
	position: relative;
	background: transparent url("../images/people.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u861
{
	background-image: url('../images/people_poster_u1535.png');
}

#u879-4
{
	left: 93px;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	background-color: transparent;
	z-index: 181;
	position: relative;
	text-align: center;
	min-height: 39px;
	margin-right: -10000px;
	line-height: 36px;
	width: 220px;
	font-family: ubuntu, sans-serif;
}

#u870-5
{
	font-weight: 300;
	line-height: 18px;
	min-height: 95px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	margin-top: 24px;
	z-index: 144;
	margin-left: 4px;
	width: 398px;
	font-size: 15px;
	position: relative;
}

#u848
{
	margin-right: -10000px;
	background-color: #E3D46D;
	z-index: 96;
	width: 366px;
	position: relative;
	padding: 23px 54px 84.15000000000009px 37px;
}

#u1508
{
	z-index: 112;
	height: 39px;
	margin-right: -10000px;
	width: 39px;
	position: relative;
	background: transparent url("../images/comunism.png") no-repeat center center;
	background-size: contain;
}

#u874-4
{
	left: 89px;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	background-color: transparent;
	z-index: 161;
	margin-top: 3px;
	position: relative;
	text-align: center;
	min-height: 39px;
	margin-right: -10000px;
	line-height: 36px;
	width: 230px;
	font-family: ubuntu, sans-serif;
}

#u865-4
{
	font-weight: 300;
	line-height: 18px;
	min-height: 95px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	margin-top: 26px;
	z-index: 124;
	margin-left: 18px;
	width: 348px;
	font-size: 15px;
	position: relative;
}

#u844
{
	margin-right: -10000px;
	background-color: #EEEEEE;
	left: 456px;
	z-index: 93;
	width: 407px;
	position: relative;
	padding: 23px 28px 84.15000000000009px 21px;
}

#u859
{
	z-index: 111;
	height: 39px;
	margin-right: -10000px;
	width: 39px;
	position: relative;
	background: transparent url("../images/silhouette.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u859
{
	background-image: url('../images/silhouette_poster_u1543.png');
}

#u877-4
{
	left: 99px;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	background-color: transparent;
	z-index: 173;
	margin-top: 3px;
	position: relative;
	text-align: center;
	min-height: 39px;
	margin-right: -10000px;
	line-height: 36px;
	width: 220px;
	font-family: ubuntu, sans-serif;
}

#u868-4
{
	font-weight: 300;
	line-height: 18px;
	min-height: 95px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	margin-top: 26px;
	z-index: 136;
	margin-left: 9px;
	width: 398px;
	font-size: 15px;
	position: relative;
}

#u851
{
	margin-right: -10000px;
	background-color: #E3D46D;
	left: 912px;
	z-index: 99;
	width: 402px;
	position: relative;
	padding: 23px 30px 84.15000000000009px 26px;
}

#u856
{
	z-index: 108;
	height: 39px;
	margin-right: -10000px;
	width: 39px;
	position: relative;
	background: transparent url("../images/people-1.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u856
{
	background-image: url('../images/people-1_poster_u1551.png');
}

#u880-4
{
	left: 93px;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	background-color: transparent;
	z-index: 185;
	margin-top: 3px;
	position: relative;
	text-align: center;
	min-height: 39px;
	margin-right: -10000px;
	line-height: 36px;
	width: 249px;
	font-family: ubuntu, sans-serif;
}

#u871-4
{
	font-weight: 300;
	line-height: 18px;
	min-height: 95px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	margin-top: 26px;
	z-index: 149;
	margin-left: 4px;
	width: 398px;
	font-size: 15px;
	position: relative;
}

#pu848,#pu849
{
	margin-left: -102px;
	width: 0.01px;
	margin-top: -1px;
}

#u849
{
	margin-right: -10000px;
	background-color: #EEEEEE;
	margin-top: 1px;
	z-index: 97;
	width: 398px;
	position: relative;
	padding: 24px 29px 78.19821396678151px 30px;
}

#pu858
{
	width: 0.01px;
	margin-left: 7px;
}

#u858
{
	z-index: 110;
	height: 39px;
	margin-right: -10000px;
	width: 39px;
	position: relative;
	background: transparent url("../images/other.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u858
{
	background-image: url('../images/other_poster_u1559.png');
}

#u875-4
{
	left: 80px;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	background-color: transparent;
	z-index: 165;
	margin-top: 3px;
	position: relative;
	text-align: center;
	min-height: 39px;
	margin-right: -10000px;
	line-height: 36px;
	width: 223px;
	font-family: ubuntu, sans-serif;
}

#u866-4
{
	left: -1px;
	font-weight: 300;
	line-height: 18px;
	min-height: 95px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	margin-top: 17px;
	z-index: 128;
	width: 398px;
	font-size: 15px;
	position: relative;
}

#u845
{
	margin-right: -10000px;
	padding-left: 21px;
	padding-top: 24px;
	background-color: #E3D46D;
	margin-top: 1px;
	left: 456px;
	z-index: 94;
	width: 435px;
	padding-bottom: 60.19821396678151px;
	position: relative;
}

#pu857,#pu862,#pu861,#pu1508,#pu859,#pu856,#pu860
{
	width: 0.01px;
}

#u860
{
	z-index: 113;
	height: 39px;
	margin-right: -10000px;
	width: 39px;
	position: relative;
	background: transparent url("../images/13.png") no-repeat center center;
	background-size: contain;
}

#u878-4
{
	left: 38px;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	background-color: transparent;
	z-index: 177;
	margin-top: 3px;
	position: relative;
	text-align: center;
	min-height: 39px;
	margin-right: -10000px;
	line-height: 36px;
	width: 396px;
	font-family: ubuntu, sans-serif;
}

#u869-4
{
	font-weight: 300;
	line-height: 18px;
	min-height: 95px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	margin-top: 17px;
	z-index: 140;
	margin-left: 9px;
	width: 398px;
	font-size: 15px;
	position: relative;
}

#u852
{
	margin-right: -10000px;
	background-color: #EEEEEE;
	left: 912px;
	z-index: 100;
	width: 432px;
	position: relative;
	padding: 56px 13px 102.45000000000039px;
}

#u852:hover
{
	min-height: 0px;
	background-color: #22B573;
	width: 432px;
	margin: 0px -10000px 0px 0px;
}

#u881-4
{
	font-weight: 700;
	text-align: center;
	min-height: 39px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	z-index: 189;
	line-height: 48px;
	width: 432px;
	font-size: 40px;
	position: relative;
}

#u872-4
{
	font-weight: 300;
	background-color: transparent;
	z-index: 153;
	margin-left: 17px;
	margin-top: 22px;
	position: relative;
	text-align: center;
	min-height: 42px;
	font-family: ubuntu, sans-serif;
	line-height: 18px;
	width: 398px;
	font-size: 15px;
}

#u503
{
	z-index: 2;
	min-height: 183.55000000000018px;
	padding-bottom: 0px;
}

#u503_align_to_page
{
	margin-left: auto;
	position: relative;
	margin-bottom: -1px;
	width: 1170px;
	margin-right: auto;
}

#u506-4
{
	margin-right: -10000px;
	z-index: 5;
	min-height: 18px;
	width: 83px;
	position: relative;
}

#u507-4
{
	left: 268px;
	min-height: 18px;
	margin-right: -10000px;
	position: relative;
	z-index: 9;
	width: 171px;
}

#u508-4
{
	min-height: 18px;
	margin-right: -10000px;
	position: relative;
	z-index: 13;
	width: 171px;
}

#u509
{
	z-index: 17;
	height: 1px;
	width: 171px;
	position: relative;
}

#u510
{
	height: 1px;
	position: relative;
	margin-bottom: -1px;
	z-index: 18;
	top: -1px;
	width: 171px;
}

#u511
{
	height: 1px;
	position: relative;
	margin-bottom: -1px;
	z-index: 19;
	top: -1px;
	width: 171px;
}

#ppu512-4
{
	margin-top: 4px;
	width: 0.01px;
	position: relative;
}

#pu512-4
{
	margin-top: 8px;
	width: 0.01px;
	margin-right: -10000px;
}

#u512-4
{
	z-index: 20;
	min-height: 20px;
	width: 173px;
	position: relative;
}

#u513-4
{
	z-index: 24;
	min-height: 20px;
	width: 173px;
	position: relative;
}

#u514-4
{
	z-index: 28;
	min-height: 20px;
	width: 173px;
	position: relative;
}

#u512-4:hover,#u513-4:hover,#u514-4:hover
{
	min-height: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 173px;
	margin: 0px;
}

#u517
{
	left: 266px;
	height: 30px;
	margin-right: -10000px;
	position: relative;
	z-index: 40;
	width: 29px;
}

#u519
{
	left: 297px;
	height: 30px;
	margin-right: -10000px;
	position: relative;
	z-index: 42;
	width: 29px;
}

#u518
{
	left: 328px;
	height: 30px;
	margin-right: -10000px;
	position: relative;
	z-index: 41;
	width: 29px;
}

#u517:hover,#u519:hover,#u519:active,#u518:hover
{
	min-height: 0px;
	height: 30px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u520-11
{
	min-height: 62px;
	margin-right: -10000px;
	position: relative;
	z-index: 43;
	margin-top: 3px;
	width: 188px;
}

#u515-4
{
	min-height: 20px;
	position: relative;
	margin-bottom: -1px;
	z-index: 32;
	top: -1px;
	width: 173px;
}

#u515-4:hover
{
	min-height: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 173px;
	margin: 0px 0px -1px;
}

#pu506-4,#pu516-4
{
	width: 0.01px;
	position: relative;
}

#u516-4
{
	margin-right: -10000px;
	z-index: 36;
	min-height: 20px;
	width: 173px;
	position: relative;
}

#u516-4:hover
{
	min-height: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u504
{
	z-index: 3;
	width: 532px;
	margin-right: -10000px;
	position: relative;
}

#u503-bw
{
	z-index: 2;
	margin-top: -1px;
	min-height: 183.55000000000018px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	min-width: 1170px;
	padding-bottom: 34px;
	padding-top: 36px;
	position: relative;
}

@media (min-width: 1171px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#u615_align_to_page
	{
		left: -100px;
	}

	#u619
	{
		left: 155px;
	}

	#pu616
	{
		margin-left: 457px;
	}

	#pu847
	{
		margin-left: -100px;
	}

	#u854-6
	{
		left: 189px;
	}

	#u503_align_to_page
	{
		left: -100px;
		padding-top: 10px;
		padding-bottom: 13px;
	}

	#u508-4
	{
		left: 1000px;
	}

	#pu506-4,#u509
	{
		left: 83px;
	}

	#u510
	{
		left: 350px;
	}

	#u511
	{
		left: 1082px;
	}

	#u520-11
	{
		left: 999px;
	}

	#ppu512-4,#u515-4,#pu516-4
	{
		left: 84px;
	}

	#u504
	{
		left: 655px;
	}
}

@media (max-width: 1170px)
{
	#muse_css_mq
	{
		background-color: #000492;
	}

	#bp_1170.active
	{
		display: block;
	}

	#u619
	{
		left: 55px;
	}

	#pu616
	{
		margin-left: 357px;
	}

	#u854-6
	{
		left: 89px;
	}

	#u503_position_content
	{
		padding-top: 10px;
		padding-bottom: 13px;
		width: 100%;
	}

	#u508-4
	{
		left: 853px;
	}

	#pu506-4,#u509
	{
		left: -18px;
	}

	#u510
	{
		left: 250px;
	}

	#u511
	{
		left: 837px;
	}

	#u520-11
	{
		left: 852px;
	}

	#ppu512-4,#u515-4,#pu516-4
	{
		left: -17px;
	}

	#u504
	{
		left: 508px;
	}
}

