.version.ludoteca /* version checker */
{
	color: #0000F9;
	background-color: #AD1BD7;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1270px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;/* should not cover content below */
}

#u615_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
}

#u619
{
	z-index: 58;
	width: 143px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 155px;
}

#pu616
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 457px;
}

#u616
{
	z-index: 55;
	width: 94px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u617
{
	z-index: 56;
	width: 94px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#u618
{
	z-index: 57;
	width: 94px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 247px;
}

.ie #u616,.ie #u617,.ie #u618
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu621
{
	z-index: 60;
	width: 470px;
	position: relative;
	margin-right: -10000px;
}

#u643
{
	width: 92px;
	min-height: 75px;
	position: relative;
	margin-right: -10000px;
}

#u644
{
	width: 92px;
	padding-bottom: 58px;
	position: relative;
}

#u644:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u646-4
{
	width: 92px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
}

#u644:hover #u646-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u622
{
	width: 92px;
	min-height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u625
{
	width: 92px;
	padding-bottom: 58px;
	position: relative;
}

#u644.MuseMenuActive,#u625:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u627-4
{
	width: 92px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
}

#u644.MuseMenuActive #u646-4,#u625:hover #u627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u629
{
	width: 92px;
	min-height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u630
{
	width: 92px;
	padding-bottom: 58px;
	position: relative;
}

#u625.MuseMenuActive,#u630:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u630.MuseMenuActive
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u633-4
{
	width: 92px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
}

#u625.MuseMenuActive #u627-4,#u630:hover #u633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u630.MuseMenuActive #u633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u636
{
	width: 93px;
	min-height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u639
{
	width: 93px;
	padding-bottom: 58px;
	position: relative;
}

#u639:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u642-4
{
	width: 93px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
}

#u639:hover #u642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u650
{
	width: 93px;
	min-height: 75px;
	position: relative;
	margin-right: -10000px;
	left: 377px;
}

#u651
{
	width: 93px;
	padding-bottom: 58px;
	position: relative;
}

#u639.MuseMenuActive,#u651:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u651.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u652-4
{
	width: 93px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
}

#u639.MuseMenuActive #u642-4,#u651:hover #u652-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u651.MuseMenuActive #u652-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u615,#u615-bw
{
	z-index: 54;
	min-height: 75px;
}

#pu847
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u847
{
	z-index: 95;
	height: 260px;
	background: #EEEEEE url("../images/foto2.jpg") no-repeat center center;
	background-size: cover;
}

#u847-bw
{
	z-index: 95;
	height: 260px;
}

#u853
{
	z-index: 101;
	height: 260px;
	background-color: #000000;
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
}

#u853-bw
{
	z-index: 101;
	height: 260px;
}

#u854-7
{
	z-index: 102;
	width: 992px;
	min-height: 68px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 189px;
}

#u846
{
	z-index: 94;
	width: 398px;
	background-color: #EEEEEE;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	padding: 17px 29px 84.34999999999991px 30px;
}

#u857
{
	z-index: 110;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/7.png") no-repeat center center;
	background-size: contain;
}

#u873-4
{
	z-index: 156;
	width: 286px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u864-4
{
	z-index: 117;
	width: 398px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 50px;
	position: relative;
}

#u843
{
	z-index: 91;
	width: 406px;
	background-color: #E3D46D;
	position: relative;
	margin-right: -10000px;
	left: 457px;
	padding: 17px 29px 59.37857206643997px 20px;
}

#u862
{
	z-index: 116;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/symbols.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u862
{
	background-image: url('../images/symbols_poster_u1527.png');
}

#u876-4
{
	z-index: 168;
	width: 314px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 55px;
}

#u867-5
{
	z-index: 129;
	width: 398px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 8px;
	margin-top: 62px;
	position: relative;
}

#u850
{
	z-index: 98;
	width: 402px;
	background-color: #EEEEEE;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 912px;
	padding: 16px 30px 117.34999999999991px 26px;
}

#u861
{
	z-index: 115;
	width: 64px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/people.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u861
{
	background-image: url('../images/people_poster_u1535.png');
}

#u879-4
{
	z-index: 180;
	width: 220px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u870-4
{
	z-index: 142;
	width: 398px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 4px;
	margin-top: 17px;
	position: relative;
}

#pu846,#pu848
{
	width: 0.01px;
	margin-left: -102px;
}

#u848
{
	z-index: 96;
	width: 398px;
	background-color: #E3D46D;
	position: relative;
	margin-right: -10000px;
	padding: 23px 22px 60.15000000000009px 37px;
}

#u1508
{
	z-index: 113;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/comunism.png") no-repeat center center;
	background-size: contain;
}

#u874-4
{
	z-index: 160;
	width: 230px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 89px;
}

#u865-4
{
	z-index: 121;
	width: 398px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 50px;
	position: relative;
}

#u844
{
	z-index: 92;
	width: 414px;
	background-color: #EEEEEE;
	position: relative;
	margin-right: -10000px;
	left: 457px;
	padding: 23px 21px 60.15000000000009px 20px;
}

#u859
{
	z-index: 112;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/silhouette.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u859
{
	background-image: url('../images/silhouette_poster_u1543.png');
}

#u877-4
{
	z-index: 172;
	width: 220px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 104px;
}

#u868-4
{
	z-index: 134;
	width: 398px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 16px;
	margin-top: 50px;
	position: relative;
}

#u851
{
	z-index: 99;
	width: 409px;
	background-color: #E3D46D;
	position: relative;
	margin-right: -10000px;
	left: 912px;
	padding: 23px 23px 60.15000000000009px 26px;
}

#u856
{
	z-index: 109;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/people-1.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u856
{
	background-image: url('../images/people-1_poster_u1551.png');
}

#u880-4
{
	z-index: 184;
	width: 249px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 100px;
}

#u871-4
{
	z-index: 146;
	width: 398px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 11px;
	margin-top: 50px;
	position: relative;
}

#pu849
{
	width: 0.01px;
	margin-left: -102px;
	margin-top: 1px;
}

#u849
{
	z-index: 97;
	width: 398px;
	background-color: #EEEEEE;
	position: relative;
	margin-right: -10000px;
	padding: 23px 22px 93.19821396678151px 37px;
}

#u858
{
	z-index: 111;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/other.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u858
{
	background-image: url('../images/other_poster_u1559.png');
}

#u875-4
{
	z-index: 164;
	width: 346px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 19px;
}

#u866-4
{
	z-index: 125;
	width: 398px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 17px;
	position: relative;
}

#u845
{
	z-index: 93;
	width: 435px;
	background-color: #E3D46D;
	padding-left: 20px;
	padding-top: 23px;
	padding-bottom: 93.15000000000009px;
	position: relative;
	margin-right: -10000px;
	left: 457px;
}

#pu857,#pu862,#pu861,#pu1508,#pu859,#pu856,#pu858,#pu860
{
	width: 0.01px;
}

#u860
{
	z-index: 114;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/13.png") no-repeat center center;
	background-size: contain;
}

#u878-4
{
	z-index: 176;
	width: 396px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 38px;
}

#u869-4
{
	z-index: 138;
	width: 398px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 16px;
	margin-top: 17px;
	position: relative;
}

#u852
{
	z-index: 100;
	width: 400px;
	background-color: #EEEEEE;
	position: relative;
	margin-right: -10000px;
	left: 912px;
	padding: 54px 32px 52.45000000000027px 26px;
}

#u881-4
{
	z-index: 188;
	width: 400px;
	min-height: 39px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
}

#u872-6
{
	z-index: 150;
	width: 398px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 12px;
	position: relative;
}

#u503
{
	z-index: 2;
	min-height: 183.55000000000018px;
	padding-bottom: 0px;
}

#u503_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
	padding-top: 10px;
	padding-bottom: 13px;
	margin-bottom: -5px;
}

#pu506-4
{
	width: 0.01px;
	left: 83px;
	position: relative;
}

#u506-4
{
	z-index: 5;
	width: 83px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u507-4
{
	z-index: 9;
	width: 171px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	left: 268px;
}

#u508-4
{
	z-index: 13;
	width: 171px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	left: 1000px;
}

#u509
{
	z-index: 17;
	width: 171px;
	height: 1px;
	left: 83px;
	position: relative;
}

#u510
{
	z-index: 18;
	width: 171px;
	height: 1px;
	left: 350px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u511
{
	z-index: 19;
	width: 171px;
	height: 1px;
	left: 1082px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#ppu512-4
{
	width: 0.01px;
	left: 84px;
	margin-top: 4px;
	position: relative;
}

#pu512-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u512-4
{
	z-index: 20;
	width: 173px;
	min-height: 20px;
	position: relative;
}

#u513-4
{
	z-index: 24;
	width: 173px;
	min-height: 20px;
	position: relative;
}

#u514-4
{
	z-index: 28;
	width: 173px;
	min-height: 20px;
	position: relative;
}

#u517
{
	z-index: 40;
	width: 29px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	left: 266px;
}

#u519
{
	z-index: 42;
	width: 29px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	left: 297px;
}

#u517:hover,#u519:hover
{
	width: 29px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u518
{
	z-index: 41;
	width: 29px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#u519:active,#u518:hover
{
	width: 29px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u520-11
{
	z-index: 43;
	width: 188px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 999px;
}

#u515-4
{
	z-index: 32;
	width: 173px;
	min-height: 20px;
	left: 84px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu516-4
{
	width: 0.01px;
	left: 84px;
	position: relative;
}

#u516-4
{
	z-index: 36;
	width: 173px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
}

#u504
{
	z-index: 3;
	width: 532px;
	position: relative;
	margin-right: -10000px;
	left: 655px;
}

#u503-bw
{
	z-index: 2;
	min-height: 183.55000000000018px;
	margin-top: -5px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
	padding-top: 36px;
	padding-bottom: 34px;
}

