#menuu621
{
	border-color: transparent;
	border-width: 0px;
	background: transparent url("../images/home-p.png") no-repeat center top;
}

#u644:hover,#u644.MuseMenuActive,#u625:hover,#u625.MuseMenuActive,#u630:hover,#u630.MuseMenuActive,#u639:hover,#u639.MuseMenuActive,#u651:hover,#u651.MuseMenuActive
{
	background-color: #E3D46D;
}

#u646-4,#u627-4,#u633-4,#u642-4,#u652-4
{
	color: #FFFFFF;
	font-weight: 500;
	text-align: center;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
}

#u644.MuseMenuActive #u646-4 p,#u625.MuseMenuActive #u627-4 p,#u630.MuseMenuActive #u633-4 p,#u639.MuseMenuActive #u642-4 p,#u651.MuseMenuActive #u652-4 p
{
	font-weight: 500;
	font-style: normal;
	font-family: ubuntu, sans-serif;
}

.MenuItem
{
	cursor: pointer;
}

#u615,#u644,#u625,#u630,#u639,#u651,#u503
{
	background-color: #000000;
}

#u506-4,#u507-4,#u508-4
{
	color: #FFFFFF;
	font-weight: 700;
	line-height: 22px;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
	font-size: 18px;
}

#u509,#u510,#u511
{
	background-color: #FFFFFF;
}

#u517
{
	background: transparent url("../images/git-icon1.png") no-repeat center center;
}

#u517:hover
{
	background: transparent url("../images/git-icon2.png") no-repeat center center;
}

#u519
{
	background: transparent url("../images/face-icon1.png") no-repeat center center;
}

#u519:hover
{
	background: transparent url("../images/face-icon2.png") no-repeat center center;
}

#u519:active
{
	background: transparent url("../images/face-icon2.png") no-repeat left top;
}

#u518
{
	background: transparent url("../images/inta-icon1.png") no-repeat center center;
}

#u518:hover
{
	background: transparent url("../images/insta-icon2.png") no-repeat center center;
}

#u520-11
{
	color: #FFFFFF;
	line-height: 13px;
	font-size: 11px;
	background-color: transparent;
}

#u512-4,#u513-4,#u514-4,#u515-4,#u516-4
{
	color: #FFFFFF;
	font-weight: 700;
	font-family: ubuntu, sans-serif;
	background-color: transparent;
}

#u512-4:hover p,#u513-4:hover p,#u514-4:hover p,#u515-4:hover p,#u516-4:hover p
{
	color: #E3D46D;
	visibility: inherit;
}

#u619,#u643,#u622,#u629,#u636,#u650,#u504
{
	background-color: transparent;
}



