	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#u615_align_to_page
	{
		left: -100px;
	}

	#u619
	{
		left: 155px;
	}

	#pu616
	{
		margin-left: 457px;
	}

	#u1221-17
	{
		background-image: url("../images/u1221-17.png");
	}

	#u1221-17:hover
	{
		background-image: url("../images/u1221-17-r.png");
	}

	#u1221-17:active
	{
		background-image: url("../images/u1221-17-m.png");
	}

	#widgetu1206.frm-sub-st #u1221-17
	{
		background-image: url("../images/u1221-17-fs.png");
	}

	#u503_align_to_page
	{
		left: -100px;
		padding-top: 10px;
		padding-bottom: 13px;
	}

	#u508-4
	{
		left: 1000px;
	}

	#pu506-4,#u509
	{
		left: 83px;
	}

	#u510
	{
		left: 350px;
	}

	#u511
	{
		left: 1082px;
	}

	#u520-11
	{
		left: 999px;
	}

	#ppu512-4,#u515-4,#pu516-4
	{
		left: 84px;
	}

	#u504
	{
		left: 655px;
	}

