	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1170px;
	}

	#u619
	{
		left: 155px;
	}

	#pu616
	{
		margin-left: 457px;
	}

	#u400
	{
		padding-left: 78px;
		padding-right: 79px;
	}

	#slideshowu292
	{
		left: 457px;
	}

	#u1639_img
	{
		padding-right: 8px;
	}

	#u1666_img
	{
		padding-right: 12px;
		padding-bottom: 76px;
	}

	#u293,#u298,#u1585,#u1612,#u1639,#u1666,#u554,#u581,#u590
	{
		width: 913px;
	}

	#u302-4
	{
		top: 175px;
		left: 813px;
	}

	#pu274,#pu333
	{
		margin-left: -100px;
	}

	#u274,#u333
	{
		width: 457px;
	}

	#u333:hover,#u4262
	{
		width: 457px;
	}

	#u4262:hover
	{
		width: 457px;
	}

	#u4274
	{
		width: 398px;
		padding: 26px 24px 54px 35px;
	}

	#u4274:hover
	{
		width: 398px;
	}

	#u372-4
	{
		width: 138px;
		min-height: 46px;
		margin-left: 120px;
	}

	#u342
	{
		width: 129px;
		margin-left: 129px;
	}

	#u4298
	{
		width: 129px;
		margin-right: -10000px;
	}

	#u4286
	{
		width: 129px;
		padding-bottom: 34px;
		margin-right: -10000px;
	}

	#u356
	{
		width: 40px;
		margin-top: 34px;
		left: 44px;
	}

	#u378-6
	{
		width: 398px;
		min-height: 129px;
		margin-top: 22px;
	}

	#u335
	{
		width: 398px;
		left: 457px;
		padding: 26px 29px 57px 28px;
	}

	#u374-4
	{
		width: 242px;
		margin-left: 78px;
	}

	#u369
	{
		padding-bottom: 34px;
		margin-left: 146px;
		margin-top: 14px;
	}

	#u361
	{
		width: 52px;
		margin-top: 34px;
		left: 37px;
	}

	#u337
	{
		width: 398px;
		left: 912px;
		padding: 26px 27px 21px 33px;
	}

	#u337:hover
	{
		margin-top: 0px;
		width: 398px;
	}

	#u376-4
	{
		width: 242px;
		margin-left: 69px;
	}

	#u371
	{
		padding-bottom: 33px;
		margin-left: 135px;
		margin-top: 14px;
	}

	#u350
	{
		width: 60px;
		margin-top: 38px;
		left: 34px;
	}

	#u380-6,#u386-6
	{
		width: 398px;
		min-height: 95px;
		margin-top: 22px;
	}

	#u615_align_to_page,#u503_align_to_page
	{
		width: 1170px;
		left: -100px;
	}

	#u508-4
	{
		left: 1000px;
	}

	#pu506-4,#u509
	{
		left: 83px;
	}

	#u510
	{
		left: 350px;
	}

	#u511
	{
		left: 1082px;
	}

	#u520-11
	{
		left: 999px;
	}

	#ppu512-4,#u515-4,#pu516-4
	{
		left: 84px;
	}

	#u504
	{
		left: 655px;
	}

	body
	{
		min-width: 1170px;
	}

