<header class="site-header">

  <div class="logo-wrapper">
    <a href="labhacker.org.br">
      <img class"logo" src="http://labhacker.org.br/images/logo-svg.png"> 
    </a>
  </div>
  <nav>
    <div class="item-menu"><a class="active" href="#">home</a></div>
    <div class="item-menu"><a href="#">sobre</a></div>
    <div class="item-menu"><a href="#">projetos</a></div>
    <div class="item-menu"><a href="#">ludoteca</a></div>
    <div class="item-menu"><a href="#">contato</a></div>

</nav>

</header>
