#menuu6577
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/home-p.png") no-repeat center top;
}

#u6574,#u6581
{
	background-color: #000000;
}

#u6581:hover
{
	background-color: #E3D46D;
}

#u6584-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
}

#u6716
{
	background-color: #000000;
}

#u6581.MuseMenuActive,#u6716:hover
{
	background-color: #E3D46D;
}

#u6718-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
}

#u6737
{
	background-color: #000000;
}

#u6716.MuseMenuActive,#u6737:hover
{
	background-color: #E3D46D;
}

#u6739-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
}

#u6758
{
	background-color: #000000;
}

#u6737.MuseMenuActive,#u6758:hover
{
	background-color: #E3D46D;
}

#u6760-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
}

#u6781
{
	background-color: #000000;
}

#u6758.MuseMenuActive,#u6781:hover
{
	background-color: #E3D46D;
}

#u6781.MuseMenuActive
{
	background-color: #E3D46D;
}

#u6784-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
}

#u6581.MuseMenuActive #u6584-4 p,#u6716.MuseMenuActive #u6718-4 p,#u6737.MuseMenuActive #u6739-4 p,#u6758.MuseMenuActive #u6760-4 p,#u6781.MuseMenuActive #u6784-4 p
{
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6563
{
	background-color: #000000;
}

#u6570
{
	background: transparent url("../../images/git-icon1.png") no-repeat center center;
}

#u6570:hover
{
	background: transparent url("../../images/git-icon2.png") no-repeat center center;
}

#u6572
{
	background: transparent url("../../images/face-icon1.png") no-repeat center center;
}

#u6572:hover
{
	background: transparent url("../../images/face-icon2.png") no-repeat center center;
}

#u6572:active
{
	background: transparent url("../../images/face-icon2.png") no-repeat left top;
}

#u6571
{
	background: transparent url("../../images/inta-icon1.png") no-repeat center center;
}

#u6571:hover
{
	background: transparent url("../../images/insta-icon2.png") no-repeat center center;
}

#u6566-4,#u6567-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u6568,#u6569
{
	background-color: #FFFFFF;
}

#u6573-11
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
}

#u6575,#u6578,#u6715,#u6736,#u6757,#u6778,#u6564
{
	background-color: transparent;
}




