.version.projetos /* version checker */
{
	color: #000003;
	background-color: #F5F62D;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 754.6410720664389px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#u6574
{
	z-index: 29;
	min-height: 60px;
	padding-bottom: 15px;
}

#u6575
{
	z-index: 30;
	width: 143px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 119px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u6574-bw
{
	z-index: 29;
	min-height: 60px;
}

#u6581
{
	min-height: 17px;
	padding-bottom: 21px;
	position: relative;
}

#u6581:hover
{
	min-height: 17px;
	margin: 0px;
}

#u6584-4
{
	min-height: 17px;
	position: relative;
	top: 10px;
}

#u6581:hover #u6584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6716
{
	min-height: 17px;
	padding-bottom: 21px;
	position: relative;
}

#u6581.MuseMenuActive,#u6716:hover
{
	min-height: 17px;
	margin: 0px;
}

#u6718-4
{
	min-height: 17px;
	position: relative;
	top: 10px;
}

#u6581.MuseMenuActive #u6584-4,#u6716:hover #u6718-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6737
{
	min-height: 17px;
	padding-bottom: 21px;
	position: relative;
}

#u6716.MuseMenuActive,#u6737:hover
{
	min-height: 17px;
	margin: 0px;
}

#u6739-4
{
	min-height: 17px;
	position: relative;
	top: 10px;
}

#u6716.MuseMenuActive #u6718-4,#u6737:hover #u6739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6758
{
	min-height: 17px;
	padding-bottom: 22px;
	position: relative;
}

#u6737.MuseMenuActive,#u6758:hover
{
	min-height: 17px;
	margin: 0px;
}

#u6760-4
{
	min-height: 17px;
	position: relative;
	top: 11px;
}

#u6737.MuseMenuActive #u6739-4,#u6758:hover #u6760-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6781
{
	min-height: 17px;
	padding-bottom: 22px;
	position: relative;
}

#u6758.MuseMenuActive,#u6781:hover
{
	min-height: 17px;
	margin: 0px;
}

#u6781.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u6784-4
{
	min-height: 17px;
	position: relative;
	top: 11px;
}

#u6758.MuseMenuActive #u6760-4,#u6781:hover #u6784-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6781.MuseMenuActive #u6784-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6715,#u6736,#u6757,#u6778
{
	margin-top: 2px;
}

#menuu6577,#menuu6577-bw
{
	z-index: 32;
	min-height: 200px;
}

#page_position_content,#pu6885
{
	width: 0.01px;/* should not cover content below */
}

#u6885
{
	z-index: 67;
	height: 260px;
	background: #EEEEEE url("../../images/16693648915_c546addb03_k.jpg") no-repeat right center;
	background-size: cover;
}

#u6885-bw
{
	z-index: 67;
	height: 260px;
}

#u6890
{
	z-index: 72;
	height: 260px;
	background-color: #000000;
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
}

#u6890-bw
{
	z-index: 72;
	height: 260px;
}

#u6891-8
{
	z-index: 73;
	width: 333px;
	min-height: 150px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 23px;
}

#u6891
{
	font-family: ubuntu, sans-serif;
	font-weight: 500;
}

#u6884
{
	z-index: 66;
	min-height: 115.55073174847962px;
	background-color: #EEEEEE;
	padding: 17px 43px 28.44926825152038px 26px;
}

#u6892
{
	z-index: 81;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/12.png") no-repeat center center;
}

#u6908-4
{
	z-index: 133;
	width: 220px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u6900-4
{
	z-index: 89;
	width: 312px;
	min-height: 61px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 16px;
	position: relative;
}

#u6884-bw
{
	z-index: 66;
	min-height: 115.55073174847962px;
	margin-top: 1px;
}

#u6886
{
	z-index: 68;
	min-height: 155.92656355482512px;
	background-color: #E3D46D;
	padding: 23px 40px 15.073436445174877px 26px;
}

#u6893
{
	z-index: 82;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/5.png") no-repeat center center;
	background-size: contain;
}

#u6909-4
{
	z-index: 137;
	width: 230px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 41px;
}

#u6901-4
{
	z-index: 93;
	width: 314px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#u6886-bw
{
	z-index: 68;
	min-height: 155.92656355482512px;
}

#u6887
{
	z-index: 69;
	min-height: 188px;
	background-color: #EEEEEE;
	padding-left: 26px;
	padding-top: 26px;
	padding-bottom: 20px;
}

#u6896
{
	z-index: 85;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/8.png") no-repeat center center;
	background-size: contain;
}

#u6912-4
{
	z-index: 149;
	width: 313px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u6904-8
{
	z-index: 105;
	width: 338px;
	min-height: 114px;
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 17px;
	position: relative;
}

#u6887-bw
{
	z-index: 69;
	min-height: 188px;
}

#u6881
{
	z-index: 63;
	min-height: 184.85000000000036px;
	background-color: #E3D46D;
	padding: 17px 15px 15.149999999999636px 26px;
}

#u6894
{
	z-index: 83;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/computer.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u6894
{
	background-image: url('../../images/computer_poster_u1697.png');
}

#u6910-4
{
	z-index: 141;
	width: 263px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 41px;
}

#u6902-4
{
	z-index: 97;
	width: 339px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 17px;
	position: relative;
}

#u6881-bw
{
	z-index: 63;
	min-height: 184.85000000000036px;
}

#u6882
{
	z-index: 64;
	min-height: 149px;
	background-color: #EEEEEE;
	padding: 25px 16px 14px 26px;
}

#pu6895
{
	width: 0.01px;
	margin-left: 2px;
	position: relative;
}

#u6895
{
	z-index: 84;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/1.png") no-repeat center center;
	background-size: contain;
}

#u6911-4
{
	z-index: 145;
	width: 206px;
	min-height: 52px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 50px;
}

#u6903-4
{
	z-index: 101;
	width: 338px;
	min-height: 95px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u6882-bw
{
	z-index: 64;
	min-height: 149px;
}

#u6883
{
	z-index: 65;
	min-height: 227px;
	background-color: #E3D46D;
	padding: 23px 16px 21px 26px;
}

#u6899
{
	z-index: 88;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/9.png") no-repeat center center;
	background-size: contain;
}

#u6915-4
{
	z-index: 161;
	width: 237px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 37px;
}

#u6907-8
{
	z-index: 125;
	width: 338px;
	min-height: 150px;
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 17px;
	position: relative;
}

#u6907-6
{
	font-size: 20px;
	line-height: 24px;
	color: #0071BC;
}

#u6883-bw
{
	z-index: 65;
	min-height: 227px;
}

#u6888
{
	z-index: 70;
	min-height: 169.64999999999964px;
	background-color: #EEEEEE;
	padding: 17px 15px 28.350000000000364px 22px;
}

#u6897
{
	z-index: 86;
	width: 64px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/32.png") no-repeat center center;
}

#u6913-4
{
	z-index: 153;
	width: 220px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 58px;
}

#u6905-8
{
	z-index: 113;
	width: 339px;
	min-height: 95px;
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 4px;
	margin-top: 17px;
	position: relative;
}

#u6904-2,#u6904-3,#u6907-2,#u6907-3,#u6905-2,#u6905-3
{
	font-size: 15px;
	line-height: 18px;
}

#u6904-6,#u6905-6
{
	font-size: 20px;
	line-height: 24px;
}

#u6888-bw
{
	z-index: 70;
	min-height: 169.64999999999964px;
}

#u6889
{
	z-index: 71;
	min-height: 181.81509788793596px;
	background-color: #E3D46D;
	padding: 23px 16px 23.184902112064037px 25px;
}

#pu6892,#pu6893,#pu6896,#pu6894,#pu6899,#pu6897,#pu6898
{
	width: 0.01px;
	position: relative;
}

#u6898
{
	z-index: 87;
	width: 39px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/6.png") no-repeat center center;
	background-size: contain;
}

#u6914-4
{
	z-index: 157;
	width: 249px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 41px;
}

#u6906-4
{
	z-index: 121;
	width: 338px;
	min-height: 108px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 1px;
	margin-top: 13px;
	position: relative;
}

#u6889-bw
{
	z-index: 71;
	min-height: 181.81509788793596px;
}

#u6916
{
	z-index: 165;
	width: 380px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6917
{
	z-index: 166;
	width: 359px;
	background-color: #EEEEEE;
	position: relative;
	margin-right: -10000px;
	padding: 62px 9px 66.44999999999982px 12px;
}

#u6917:hover
{
	background-color: #22B573;
	width: 359px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6918-4
{
	z-index: 171;
	width: 358px;
	min-height: 39px;
	background-color: transparent;
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6918-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 358px;
	margin: 0px;
}

#u6919-4
{
	z-index: 167;
	width: 330px;
	min-height: 64px;
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 15px;
	margin-top: 22px;
	position: relative;
}

#u6919-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 330px;
	margin: 22px 0px 0px 15px;
}

#u6563
{
	z-index: 2;
	min-height: 220px;
	padding: 22px 26px 13px 24px;
}

#u6566-4
{
	z-index: 5;
	width: 171px;
	min-height: 18px;
	position: relative;
}

#u6568
{
	z-index: 13;
	width: 171px;
	height: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu6570
{
	width: 0.01px;
	margin-top: 5px;
	position: relative;
}

#u6570
{
	z-index: 15;
	width: 29px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6572
{
	z-index: 17;
	width: 29px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u6570:hover,#u6572:hover
{
	width: 29px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6571
{
	z-index: 16;
	width: 29px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u6572:active,#u6571:hover
{
	width: 29px;
	height: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6567-4
{
	z-index: 9;
	width: 171px;
	min-height: 18px;
	margin-top: 10px;
	position: relative;
}

#u6569
{
	z-index: 14;
	width: 171px;
	height: 1px;
	position: relative;
}

#u6573-11
{
	z-index: 18;
	width: 188px;
	min-height: 62px;
	margin-top: 8px;
	position: relative;
}

#u6564
{
	z-index: 3;
	width: 330px;
	margin-top: 29px;
	position: relative;
}

#u6563-bw
{
	z-index: 2;
	min-height: 220px;
	margin-top: 1px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

